@charset "utf-8";
/* CSS Document */
body{
	background:#fff;
	font-family:Candara, Geneva, sans-serif
}

#kandungan_besar{
	width:980px;
	height:auto;
	background:#fff;
	border:0px solid #CCC;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
#banner{
	
	
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius: 7px;
 	-webkit-border-top-left-radius: 7px;
	color:#FFF;
	font-size:24px;
	padding-top:5px;
	
}
#banner_admin{
	/*background:-moz-linear-gradient(#585858,#929292,#CCCCCC,#CCCCCC);*/
	/*background:-webkit-linear-gradient(#248FC5,#248FC5,#0D6E9E,#0D6E9E);*/
	height:100px;
	/*border-bottom:6px solid #262626;*/
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius: 7px;
 	-webkit-border-top-left-radius: 7px;
	color:#FFF;
	font-size:24px;
	padding-top:5px;
	
}
#bawah_banner{
	/*background:#ECECEC;*/
	background:-moz-linear-gradient(#FDFDFD,#FDFDFD,#FDFDFD,#ECECEC);
	height:250px;
	border:1px solid #CCC;
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius: 7px;
 	-webkit-border-top-left-radius: 7px;
	color:#FFF;
	font-size:24px;
	padding-top:5px;
	
}
#menu_nav{
	/*background:url(images/menu-bg.png) no-repeat;*/
	height:70px;
	background-position:bottom;
}
#kiri{
	float:left;
	width:279px;
	border:1px solid #CCC;
	-moz-border-radius-topright:7px;
	-moz-border-radius-bottomright:7px;
	-webkit-border-top-right-radius: 7px;
 	-webkit-border-bottom-right-radius: 7px;
	height:auto;
	padding:5px 5px 5px 5px;
	text-align:left;
}
#dalam_kiri{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	padding:5px 5px 5px 5px;
	height:auto;
	background:-moz-linear-gradient(#F2F2F2,#FFF,#FFF,#F2F2F2);
	background:-webkit-linear-gradient(#F2F2F2,#FFF,#FFF,#F2F2F2);
	color:#816666;
	
}
.h2_background{
	-moz-border-radius:7px 7px 7px 7px;
	/*-moz-border-radius-topleft:2px 2px 2px 7px;
	-moz-border-radius-topright:7px;*/
	-webkit-border-top-right-radius: 7px;
 	-webkit-border-top-left-radius: 7px;
	color:#ffffff;
	background:#585858;
	background-position:top;
	height:28px;
	padding-left:7px;
	padding-top:2px;
}
#kanan{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	margin:7px;
	float:right;
	width:649px;
	border:1px solid #ECECEC;
	height:550px;
	padding:5px 5px 5px 5px;
	text-align:left;
	/*background:-moz-linear-gradient(#F2F2F2,#FDFDFD,#FDFDFD,#F2F2F2);
	background:-webkit-linear-gradient(#F2F2F2,#FDFDFD,#FDFDFD,#F2F2F2);*/
}
.kanan3{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	margin:7px;
	float:right;
	width:649px;
	border:1px solid #ECECEC;
	/*height:550px;*/
	padding:5px 5px 5px 5px;
	text-align:left;
	/*background:-moz-linear-gradient(#F2F2F2,#FDFDFD,#FDFDFD,#F2F2F2);
	background:-webkit-linear-gradient(#F2F2F2,#FDFDFD,#FDFDFD,#F2F2F2);*/
}
#kiri1{
	float:left;
	width:279px;
	border-right:5px solid #F3F3F3;
	height:auto;
	padding:5px 5px 5px 5px;
	text-align:left;
}
#dalam_kiri1{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	padding:5px 5px 5px 5px;
	height:400px;
	background:-moz-linear-gradient(#F2F2F2,#FFF,#FFF,#F2F2F2);
	background:-webkit-linear-gradient(#F2F2F2,#FFF,#FFF,#F2F2F2);
	color:#816666;
	
	
}
.list_admin{
	margin-left:-26px;
}
.satu{
	border-top:2px solid #DEDEDE;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius: 2px;
 	-webkit-border-top-left-radius: 2px;
}
#dalam_kiri1 ul li {
	list-style:none;
	background:-moz-linear-gradient(#F2F2F2,#FFF,#FFF,#F2F2F2);
	background:-webkit-linear-gradient(#F2F2F2,#FFF,#FFF,#F2F2F2);
	background-image:url(images/arrow.PNG) no-repeat;
	padding:7px 7px 7px 7px;
	border-left:5px solid #0D6E9E;
	border-right:1px solid #DEDEDE;
	border-bottom:5px solid white;
	width:200px;
	
	
}
#dalam_kiri1 ul li a{
	text-decoration:none;
	color:#0D6E9E;
	
	
}
#dalam_kiri1 ul li:hover {
	
	border-left:5px solid #EB9F38;
	border-bottom:5px solid white;
	background:url(images/arrow.PNG) no-repeat;
	
	background-position:right;

}
#dalam_kiri1 ul li ul{
	display:none;
	
	
}

#dalam_kiri1 ul li:hover ul{
	margin-top:-22px;
	display:block;
	position:absolute;
	margin-left:166px;
	
	
	
}
#dalam_kiri1 ul li:hover ul li{
	background:-moz-linear-gradient(#F2F2F2,#FFF,#FFF,#F2F2F2);
	background:-webkit-linear-gradient(#F2F2F2,#FFF,#FFF,#F2F2F2);
	
	border-left:none;
	border-bottom:none;
	-moz-box-shadow:0px 0px 1px #000;
	-webkit-box-shadow:0px 0px 1px #000;
	
	
	
}
#dalam_kiri1 ul li:hover ul li:hover{
	
	background:#156B95;
	
	
	
	
}
#dalam_kiri1 ul li:hover ul li:hover a{
	
	color:white;
	font-weight:bold;
	
	
	
	
}
#dalam_kiri1 ul li:hover ul li a{
	
	color:#0E79AD;
	font-weight:bold;
	
	
	
}
.h2_background1{
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius: 7px;
 	-webkit-border-top-left-radius: 7px;
	color:#056FA3;
	background:url(images/title-bg.png) repeat;
	background-position:top;
	height:30px;
	padding-left:4px;
	padding-top:2px;
}
.h2_background_interior{
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius: 7px;
 	-webkit-border-top-left-radius: 7px;
	color:#D1F7FF;
	/*background:url(images/title-bg.png) repeat;*/
	background:-moz-linear-gradient(#136A93,#137EB3,#137EB3,#136A93);
	background:-webkit-linear-gradient(#136A93,#137EB3,#137EB3,#136A93);
	background-position:top;
	height:30px;
	margin-top:4px;
	padding-left:4px;
	padding-top:2px;
}
.kanan1_interior{
	margin-top:4px;
	padding-left:23px;
	padding-top:2px;
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#kanan1{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	margin:7px;
	float:right;
	width:649px;
	border-right:1px solid #ECECEC;
	height:400px;
	padding:5px 5px 5px 5px;
	
	text-align:left;
	background:-moz-linear-gradient(#F2F2F2,#FDFDFD,#FDFDFD,#F2F2F2);
	background:-webkit-linear-gradient(#F2F2F2,#FDFDFD,#FDFDFD,#F2F2F2);
}
.kanan2{
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	margin:7px;
	float:right;
	width:649px;
	border-right:1px solid #ECECEC;
	color:#046FB1;
	padding:5px 5px 5px 5px;
	
	text-align:left;
	background:-moz-linear-gradient(#F2F2F2,#FDFDFD,#FDFDFD,#F2F2F2);
	background:-webkit-linear-gradient(#F2F2F2,#FDFDFD,#FDFDFD,#F2F2F2);
}
#footer{
	clear:both;
	/*background:-moz-linear-gradient(#FFF,#FFF,#F2F2F2,#FFF) ;
	background:-webkit-linear-gradient(#FFF,#FFF,#F2F2F2,#FFF) ;*/
	background:#585858;
	height:100px;
	-moz-border-radius-bottomleft:7px;
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius: 7px;
 	-webkit-border-bottom-left-radius: 7px;
	border-top:10px solid #000;
	border-bottom:5px solid #F3F3F3;
	color:#fff;
	width:auto;
	padding:5px;
	
	
	
}
.input_teks_log{
	border:1px solid #DBDBDB;
	height:25px;
	background:#F8F8F8;
}

.input_teks_log:hover,.input_teks_log:focus{
	border:1px solid #3399FF;
	height:25px;
}
.input_teks{
	border:1px solid #DBDBDB;
	height:25px;
}
.input_teks1{
	background:#FFF;
	border:1px solid #B5B5B5;
	height:25px;
}
.input_teks:hover,.input_teks:focus{
	border:1px solid #3399FF;
	height:25px;
}
.input_teks1:hover,.input_teks1:focus{
	border:1px solid #3399FF;
	height:25px;
}
.input_button{
	/*background:-moz-linear-gradient(#60C5F5,#60C5F5,#2795C9,#2795C9);
	background:-webkit-linear-gradient(#60C5F5,#60C5F5,#2795C9,#2795C9);*/
	background:-moz-linear-gradient(#B6B6B6,#B6B6B6,#585858,#585858);
	background:-webkit-linear-gradient(#B6B6B6,#B6B6B6,#585858,#585858);
	
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	color:#FFF;
	border-top:4px solid #585858;
	width:auto;
	height:33px;
	font-weight:bolder;
	cursor:pointer;
	
}
.input_button:hover{
	background:-moz-linear-gradient(#585858,#585858,#B6B6B6,#B6B6B6);
	background:-webkit-linear-gradient(#585858,#585858,#B6B6B6,#B6B6B6);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	color:#FFF;
	border-top:4px solid #585858;
	width:auto;
	height:33px;
	font-weight:bolder;
	cursor:pointer;
	
}
.input_button_check{
	/*background:-moz-linear-gradient(#60C5F5,#60C5F5,#2795C9,#2795C9);
	background:-webkit-linear-gradient(#60C5F5,#60C5F5,#2795C9,#2795C9);*/
	background:-moz-linear-gradient(#B6B6B6,#B6B6B6,#585858,#585858);
	background:-webkit-linear-gradient(#B6B6B6,#B6B6B6,#585858,#585858);
	
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	color:#FFF;
	border-top:4px solid #585858;
	width:auto;
	height:33px;
	font-weight:bolder;
	cursor:pointer;
	
}
.input_button_check:hover{
	background:-moz-linear-gradient(#585858,#585858,#B6B6B6,#B6B6B6);
	background:-webkit-linear-gradient(#585858,#585858,#B6B6B6,#B6B6B6);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	color:#FFF;
	border-top:4px solid #585858;
	width:auto;
	height:33px;
	font-weight:bolder;
	cursor:pointer;
	
}

.user_login{
	padding-left:30px;
	border-top:none;
	border:1px solid #DBDBDB;
	margin-top:-22px;
	background:#FFF;
	-moz-border-radius-bottomleft:7px;
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius: 7px;
 	-webkit-border-bottom-left-radius: 7px;
}
.welcome{
	text-align:left;
	padding-top:43px ;
	padding-left:5px;
	color:#F90;
	width:200px;
	float:left;
}
.logout{
	text-align:right;
	padding-top:43px ;
	padding-right:7px;
	color:#FFF;
	width:200px;
	float:right;
}
.logout a{
	color:#FFF;
	text-decoration:none;
}
.logout a:hover{
	color:#FFF;
	text-decoration:underline;
}
.table_admin th{
	color:#FFF;
	font-weight:bold;
	background:#248FC5;
}
.table_admin td{
	color:#000;
	
	
}
.table_admin a{
	text-decoration:none;
	color:#248FC5;
	
	
}
.table_admin a:hover{
	text-decoration:underline;
	color:#248FC5;
	
	
}
#menu {
	background: #585858;
	border-bottom: 1px solid #000000;
	height: 37px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	padding: 0px 5px;
}
#menu ul {
	background: #585858;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	
	position: relative;
	float: left;
	z-index: 20;	
}
#menu > ul > li:hover {
	
	
	background: #000;
}
#menu > ul > li > a {
	
	font-size: 13px;
	color: #FFF;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 12px 15px 11px 15px;
	z-index: 6;
	position: relative;
}
#menu > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	
	border: 1px solid #000000;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background: url('../images/menu.png');
}
#menu > ul > li:hover > div {
	background: #585858;
	display: table;
}
#menu > ul > li > div > ul {
	background: #585858;
	display: table-cell;
}
#menu > ul > li ul + ul {
	
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	background: #000000;
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}

.gambar{
	-moz-border-radius:5px;
		-webkit-border-radius:5px;
			-khtml-border-radius:5px;
}
.content{
	border:1px solid #EDEDED;
	padding:15px 15px 15px 15px;
}
.content1{
	border:1px solid #EDEDED;
	padding:15px 15px 15px 15px;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
	width:500px;
}
.required{
	color:red;
}
.dalam_content{
	background:#F0F0F0;
	border:1px solid #DBDBDB;
	padding:10px;
	text-align:left;
	-moz-border-radius:5px;
		-webkit-border-radius:5px;
			-khtml-border-radius:5px;
	color:#003A88;
	font-weight:bold;
	
}
.kandungan{
	text-align:left;
	padding:5px;
}
.table_ad{
	/*border:1px solid #EDEDED;*/
}
.content .table_ad th{
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius: 7px;
 	-webkit-border-top-left-radius: 7px;
	color:#FFF;
	height:50px;
	text-align:center;
	border:0px solid #EDEDED;
	background:url(images/menu.png) repeat;
}
.content .table_ad td{
	
	padding:10px;
}